body {
  margin-top: 45px;
}

.navbar-brand {
  font-weight: bolder;
}

.img-thumbnail {
  height: 150px;
  width: 150px;
}

.close {
  color: #000;
}

.close:hover {
  color: #000;
}


.padthis {
  padding-top: 15px;
}


footer {
  p {
    text-align: left;
  }
}
